#header{
    position: fixed;
    left:0;
    top:0;
    width: 260px;
    height:100%;
    z-index: 1000px;
    background-color: var(--youtubeblack);
}
#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left:260px;
    background-color: var(--youtubeblack);
}
#footer{
    text-align:center;
    background-color: var(--youtubeblack);
    padding:20px 20px 20px 260px;
}