:root {
    --mainfont-nanum: "nanumSquareNeo";
    --mainfont-nexon: "nexonLv1";
  
    --black: #000;
    --black100: #050505;
    --black200: #111;
    --black300: #252525;
    --black400: #333;
    --black500: #444;
    
    --blackAlpha100: #00000087;

    --white: #fff;
    --white100: #ededed;
    --white200: #dbdbdb;
    --white300: #bebebe;
    --white400: #aaaaaa;
    --white500: #94949411;

    --youtubeblack:#0f0f0f;
    --red:#be3030;
    
    // 폰트 셋팅
    font-family: var(--mainfont-nanum), var(--mainfont-nexon);
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.033rem;
    font-weight: 400;
    
    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    @media (max-width: 800px) {
        font-size: 13px;
        line-height: 1.4;
    }
}